//Author: Azez Nassar [@NassarAzez]
//Date: 2018 July/August
//API: Github jobs
//UI Inspiration: Discord

@import url('https://fonts.googleapis.com/css?family=Hind');

$primaryFnt: #333;
$primaryClr: #3076ff;

@mixin easeOut {
    transition: all .6s ease-out;
}


html, body {
  margin: 0;
  font-family: Hind, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;

  .card {
    margin: 0 auto;
    background: lighten(#888, 35);
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    width: 300px;
    font-size: .8em;
    @include easeOut;
    @media only screen and (max-width: 400px) {
        width: 90%;
        margin: auto;
     }
    
    a {
      text-decoration: none;
      color: #222;

      h3 {
          margin: 0 .6em;
          color: lighten(#222, 6);
      }
      
      .info {
        margin: 1.3em;
          h4 {
          font-size: .9em;
          color: lighten($primaryFnt, 10);
          margin: 0;
          font-weight: 300;
        }
      }
    }
    
    &:hover {
      box-shadow: 1px 1px 10px $primaryFnt;
      img {
        opacity: 1;
        box-shadow: .5px .5px 5px $primaryFnt;
        @include easeOut;
      }
    }
    
    img {
      margin-top: .8em;
      width: 80px;
      border-radius: 50%;
      height: 80px;
      opacity: 0.5;
    }
    
    .bottomWrapper {
      button {
        padding: 1em;
        background: $primaryFnt;
        color: #f1f1f1;
        cursor: pointer;
        outline: none;
        border-radius: 8%;
        box-shadow: 2px 2px 4px $primaryFnt;
        border: none;
        transition: all .3s ease-out;
        
        &:hover {
          transform: translate(0px,-3px);
          box-shadow: 2px 2px 8px $primaryFnt;
        }
      }
    }
  } 
}

.wrapper {
    min-height: calc(100vh - 1.5rem);
 }
 
 .content {
   margin-top: 5em;
   text-align: center;
   
      @media only screen and (max-width: 600px) {
         margin-top: 3em;
     }
   
     @media only screen and (max-width: 400px) {
         margin-top: .5em;
     }
 }

 .filters {
  padding: 2em;
  .buttons {
      button {
      background: lighten($primaryClr, 25);
      outline: none;
      border: none;
      border-radius: 50px;
      font-size: 12px;
      font-weight: 300;
      margin: 0 4px;
      padding: 10px 15px;
      cursor: pointer;
      transition: all .3s ease-in;
       
        &:hover {
          background: $primaryClr;
          color: #f1f1f1;
        }

        &.current {
          background: $primaryClr;
          color: #f1f1f1;
        }
    }
    
    .divider {
       background-color: lighten(#999, 20);
       height: 2.5em;
       margin: 0 11px;
       width: 2px;
       vertical-align: middle;
       display: inline-block;
     }
    
    p {
      display: inline-block;
      font-size: 1.2em;
    }
  }
}

.header {
  background: $primaryClr;
  color: #f1f1f1;
  position: relative;
  width: 100%;
  height: 170px;
  @media only screen and (max-width: 1000px) {
        height: 150px;
    }
  margin: auto;
  
  .title {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 3em;
    
    @media only screen and (max-width: 600px) {
        font-size: 2em;
    }
      @media only screen and (max-width: 400px) {
        font-size: 1.5em;
    }
       @media only screen and (max-width: 200px) {
        font-size: 1em;
    }
  }
  
 .headerCurve {
   width: 100%;
   fill: $primaryClr;

  }
}

.footer {
  margin-top: .5em;
  padding: 1.5rem;
  box-sizing: border-box;
  background: darken(#4f545c, 10);
  
  .icons {
    display: flex;
    justify-content: center;
      a {
      color: #fff;
      margin: .5em;
      transition: all .3s ease-in-out;
        i {
          font-size: 2rem;
        }
      &:hover {
        color: $primaryClr;
      }
    }
  }
}

.modal {
    font-family: sans-serif;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  
  .modal-header {
    background: darken(blue, 20);
    padding: 15px;
    color: #fff;
    h2 {
    margin: 0;
    font-size: 1em;
    }
  
    .closeBtn {
      float: right;
      font-size: 30px;
      color: #fff;

        &:hover, &:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  
  .modal-content {
    background-color: #f4f4f4;
    color: #333;
    font-size: 1em;
    text-align: left;
    margin: 10% auto;
    max-width: 500px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
    
    .modal-body {
    padding: 10px 20px;
    }
 }
}